@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply tw-border-border;
  }
  body {
    @apply tw-bg-background tw-text-foreground;
  }
}

.shiki {
  counter-reset: step;
  counter-increment: step 0;
  .line {
    @apply tw-border-l-4 tw-border-transparent;
    &::before {
      counter-increment: step;
      @apply tw-mr-6 tw-inline-block tw-w-4 tw-border-transparent tw-text-right tw-text-neutral-400 tw-content-[counter(step)];
    }
    &.highlighted,
    &.diff {
      @apply tw--ml-4 tw--mr-5 tw-inline-block tw-w-[calc(100%+(theme(spacing.5)+theme(spacing.4)))] tw-pl-4 tw-pr-5;
    }
    &.highlighted {
      @apply tw-border-neutral-500 tw-bg-neutral-800;
    }
    &.diff {
      &.add,
      &.remove {
        span:first-child::before {
          @apply tw--ml-4 tw-inline-flex tw-w-4;
        }
      }
      &.add {
        @apply tw-border-blue-500 tw-bg-blue-500/25 before:tw-text-blue-500;
        span:first-child::before {
          @apply tw-text-blue-500 tw-content-["+"];
        }
      }
      &.remove {
        @apply tw-border-orange-500 tw-bg-orange-500/30 tw-opacity-70 *:!tw-text-neutral-400 before:tw-text-orange-500;
        span:first-child::before {
          @apply tw-text-orange-500 tw-content-["-"];
        }
      }
    }
  }
}
